.button {
  width: 100%;
  border: none;
  border-radius: 100px;
  padding: 20px 0;
  color: $main-light-color;
  font-family: $text-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  background-color: $second-dark-color;
  cursor: pointer;

  @media screen and (width <= 425px) {
    padding: 15px 0;
  }
}
