.input {
  width: 100%;
  border: 1px #d1d2d6 solid;
  border-radius: 100px;
  padding: 20px 208px 20px 20px;
  outline: none;
  font-family: $text-font;
  font-size: 16px;
  line-height: 137%;
  background-color: $main-light-color;
  stroke-width: 1px;

  @media screen and (width <= 768px) {
    padding: 20px 196px 20px 20px;
  }
  @media screen and (width <= 425px) {
    padding: 17px;
  }
}
