.linksList {
  align-items: center;
  gap: 20px 30px;
  @include flex-row;
}

.headerMenu > .linksList {
  @media screen and (max-width: 630px) {
    align-items: flex-start;
    @include flex-column;
  }
}

.headerMenu > .linksList .router-link-active {
  color: $second-dark-color;
}

.linkItem {
  font-family: $text-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
}

.link-light {
  color: $main-light-color;
}
