.linksList {
  align-items: center;
  @include flex-row;
  @include gap-check-supports(0, 30px);

  @media screen and (max-width: 650px) {
    align-items: flex-start;
    @include gap-check-supports(20px, 0);
    @include flex-column;
  }
}

.headerMenu > .linksList .router-link-active {
  color: $second-dark-color;
}

.linkItem {
  font-family: $text-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
}

.link-light {
  color: $main-light-color;
}
