.headerMenu {
  gap: 0 70px;
  @include flex-row;

  @media screen and (width <= 768px) {
    gap: 0 50px;
  }

  @media screen and (width <= 630px) {
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 20px 40px 40px;
    background-color: $main-dark-color;
    @include flex-column-reverse;
  }

  @media screen and (width <= 425px) {
    padding: 20px 16px 40px;
  }
}
