.content {
  padding: 30px 30px;
  background-color: $bg-ligth-color;

  @media screen and (max-width: 475px) {
    padding: 30px 16px;
  }
}

.title {
  color: $main-dark-color;
  font-family: $title-font;
  font-weight: 400;
  font-size: 40px;
  line-height: 115%;
  margin-bottom: 50px;
}

.button {
  width: 90%;
  max-width: 288px;
  margin: 30px auto 0;
}
