.content {
  padding: 80px 100px;

  @media screen and (max-width: 475px) {
    padding: 30px 16px;
  }
}

.title {
  font-family: $title-font;
  color: $main-dark-color;
  font-weight: 400;
  font-size: 40px;
  line-height: 115%;
}
