.iconPath {
  stroke: $main-dark-color;

  @media screen and (max-width: 650px) {
    stroke: $main-light-color;
  }
}
.icon-ligth {
  stroke: $main-light-color;
}

.router-link-active .iconPath {
  stroke: $second-dark-color;
}
