.menuIcons {
  align-items: center;
  @include flex-row;

  @media screen and (max-width: 650px) {
    margin: 0 0 50px;
  }
}

.iconsContent {
  align-items: center;

  @include gap-check-supports(0, 40px);

  @include flex-row;

  @media screen and (max-width: 650px) {
    justify-content: space-between;
    width: 100%;
  }
}
